#jumpMenu{
    position: fixed;
    height: 100%;
    width: 15%;
    margin-top: -40px;
    padding: 15px;
    left: 0;
    background-color: grey;
    z-index: 10;

}

h1, h2, h3, p, a{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    position: relative;
    margin-left: 18%;
    margin-top: 100px;

}

header p{
    font-weight: bold;
    font-size: 125%;
}

header{
    background-color: red;
    position: fixed;
    z-index: 10;
    top: 0;
    margin-left: -8px;
    width: 100%;
}

header nav{
    padding: 5px;
}

#container{
    border: 5px yellow;
    position: relative;
    width: 80%;
    margin-left: 18%;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10{
    background-color: aqua;
    width: 361px;
    border: 5px teal;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

#jumpMenu a{
    line-height: 3em;
    text-align: center;
}

#thanks{
    font-weight: bold;
    font-size: 125%;
    text-align: right;
}

footer{
    background-color:cornflowerblue;
    margin-left: 18%;
    border-style: solid;
}
